.label {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 1.875rem;
}

.input {
    display: none;
}

.arrow {
    width: 0.8125rem; /* 13px to rem */
    height: 0.8125rem; /* 13px to rem */
    background-image: url('/src/assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    translate: 0 1px;
}

.label:has(.optionBox) .arrow {
    rotate: 180deg;
}

.optionBox {
    width: calc(100% + 2px);
    position: absolute;
    left: -1px;
    top: calc(100% + 5px);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
}

.option {
    width: 100%;
    padding: 5px 10px;
    display: block;
    text-align: left;
    cursor: pointer;
}
.option:hover {
    background-color: var(--main-color-thin);
}
