.defaultLabel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}
.defaultLabel:hover {
    background-color: var(--main-color-thin);
}
.defaultLabel:has(input:checked) {
    background-color: var(--main-color);
    color: #fff;
}
.defaultLabel:has(input:checked):hover {
    background-color: var(--main-color-hover);
    color: #fff;
}

.defaultLabel:has(input:disabled) {
    color: var(--disabled-color);
    background-color: var(--disabled-color-bg);
    border-color: var(--disabled-color);
}
.defaultLabel:has(input:disabled):hover {
    color: var(--disabled-color);
    background-color: var(--disabled-color-bg);
    border-color: var(--disabled-color);
}

.defaultInput {
    display: none;
}
