.orderBlock {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
}

.orderBlock:not(:last-of-type) {
    margin-bottom: 16px;
}

.orderBlock.delete {
    visibility: hidden;
    overflow: hidden;
    transition: height 0.2s;
    height: 0px !important;
    border: none;
    margin: 0;
    padding: 0;
}

@keyframes fade {
    0% {
        translate: -5% 0;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}
