@import 'tailwindcss';

@layer theme, base, components, utilities;

@theme {
    /* color */
    --color-main-color: #589cec;
    --color-main-color-hover: hsl(212, 80%, 69%);
    --color-main-color-thin: rgba(88, 156, 236, 0.15);

    --color-border-gray: #cdcdcd;
    --color-border-gray-hover: #f5f5f5;

    --color-font-black: #000;
    --color-font-white: #fff;
    --color-font-dark: #212121;
    --color-font-gray: #666;
    --color-font-hover-blue: #589cec;

    --color-disabled-color: #cdcdcd;
    --color-disabled-color-bg: #f5f5f5;

    /* size */
    --text-font-size: 16px;

    /* my-lib */
    --color-theme-main: #44656e;
    --color-theme-thin: #f5f9fb;
    --color-text-main: #3a354e;
    --color-text-thin: #666666;
    --color-border-main: #8c8e98;
    --color-border-thin: #edf1f1;
}

@layer base {
    :root {
        font-family: IBM Plex Sans;
        font-weight: 400;
        color: var(--color-text-main);
    }
    li {
        list-style: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox에서 화살표 제거 */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
