* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #589cec;
    --main-color-hover: hsl(212, 80%, 69%);
    --main-color-thin: rgba(88, 156, 236, 0.15);

    --font-color: #000;
    --font-color-white: #fff;

    --disabled-color: #cdcdcd;
    --disabled-color-bg: #f5f5f5;
}

button,
fieldset {
    border: none;
}
button {
    background-color: inherit;
    font-size: 1rem;
}
